<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input</title>
    <script>
        function validateInputs(){
            var entityCount = document.forms["input-form"]["numberOfEntities"].value;
            var lambda = document.forms["input-form"]["lambda"].value;
            var mu = document.forms["input-form"]["mu"].value;

            if(entityCount==""){
                window.alert("No value is entered for the NUMBER OF ENTITIES");
                return false;
            }
            else if (entityCount<1024){
                window.alert("Enter a valid amount of entity (more than 1024)!");
                return false;
            }
            else if(lambda==""){
                window.alert("No value is entered for LAMBDA");
                return false;
            }
            else if(lambda<0){
                window.alert("LAMBDA can not be a negative number!");
                return false;
            }
            else if(mu == ""){
                window.alert("No value is entered for MU");
                return false;
            }
            else if(mu<0){
                window.alert("MU can not be a negative value!");
                return false;
            }
            else if(lambda>=mu){
                window.alert("LAMBDA value should be less than MU value!");
                return false;
            }
        return true;
	}
    
    </script>
  </head>
  <body>
    <h1>Calculate MQL values</h1>
    <form id="input-form" action="/input" method="POST">
      <label for="numberOfEntities">Number of entities:</label><br>
      <input type="text" id="numberOfEntities" name="numberOfEntities"><br>
      <label for="lambda">Serving Rate of Entities (Lambda):</label><br>
      <input type="text" id="lambda" name="lambda"><br>
      <label for="mu">Coming Rate of Entities (Mu):</label><br>
      <input type="text" id="mu" name="mu"><br><br>
        <label for="queueSize">Queue size for the limited queue:</label><br>
      <input type="text" id="queueSize" name="queueSize"><br>
      <button type="submit" onclick="return validateInputs();">Run</button>
    </form>
  </body>
</html>
