<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input</title>
    <script>
        function validateInputs(){
            var entityCount = document.forms["input-form"]["numberOfEntities"].value;
            var lambda = document.forms["input-form"]["lambda"].value;

            if(entityCount==""){
                window.alert("No value is entered for the NUMBER OF ENTITIES");
                return false;
            }
            else if (entityCount<1024){
                window.alert("Enter a valid amount of entity (more than 1024)!");
                return false;
            }
            else if(lambda==""){
                window.alert("No value is entered for LAMBDA");
                return false;
            }
            else if(lambda<0){
                window.alert("LAMBDA can not be a negative number!");
                return false;
            }

        goBack();
	}

        function goBack(){
            window.history.back();
        }

    </script>
  </head>
  <body>
    <h1>Parameters for the queue</h1>
    <form id="input-form" action="/queueForm" method="POST">
      <label for="numberOfEntities">Number of entities:</label><br>
      <input type="text" id="numberOfEntities" name="numberOfEntities"><br>
      <label for="lambda">Serving Rate of Entities (Lambda):</label><br>
      <input type="text" id="lambda" name="lambda"><br>
      <button type="submit" onclick="validateInputs()">Submit</button>
    </form>
  </body>
</html>
